<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
  <div style="display: block;">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
    </canvas>
  </div>
  <div>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div>
    </cdk-virtual-scroll-viewport>
  </div>
  <br>
  <div class="mat-app-background basic-container">
    <div cdkDropListGroup>
      <div class="example-container">
        <h2>To do</h2>

        <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
        </div>
      </div>

      <div class="example-container">
        <h2>Done</h2>

        <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
        </div>
      </div>
    </div>
  </div>
</div>